<html>
  <head>
    <title>Job Scrapper</title>
    <link
      rel="stylesheet"
      href="https://unpkg.com/@picocss/pico@latest/css/pico.min.css"
    />
  </head>
  <body>
    <main class="container">
      <h1>Job Scrapper</h1>
      <h4>What position do you want?</h4>
      <form action="/search">
        <input
          type="text"
          name="keyword"
          placeholder="Write a keyword please"
        />
        <button>Search</button>
      </form>
    </main>
  </body>
</html>
